<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title></title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.scss" />
</head>
<body>

<!-- Page Content -->
<div class="container">
  <div class="row top-row">
    <div class="col-lg-4">
      <h4><strong>High-School Diploma 2017</strong></h4>
    </div>
    <div class="col-lg-5">
      <p class="badge-line"><span class="badge badge-pill badge-danger">14</span> Credits Left!</p>
    </div>
    <div class="col-lg-3">
      <p>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="progress-level">
          <p><small><strong><span class="green">13</span> / 40</strong></small><p>
        </div>
      </p>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header">
      <div class="row label vdivide">
        <div class="col-lg-2">
          <p style="float:left;">Requirements</p>
        </div>
        <div class="col-lg-3">
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Show All
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>
        </div>
        <div class="col-lg-7 checkbox-group">
          Credits
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> All
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"> Earned
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled> Planned
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled> Remaining
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row card-section" style="margin-top:25px;">
    <div class="col-lg-3">
      <div class="card">
        <div class="card-header">
          <h5><strong>Year 9(next year)</strong></h5>
          <p><small>1 Credit Planned</small></p>
        </div>
        <div class="card-body">
          <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action selected">Cras justo odio</button>
            <button type="button" class="list-group-item list-group-item-action selected">Dapibus ac facilisis in</button>
            <button type="button" class="list-group-item list-group-item-action need-to-add">Morbi leo risus</button>
            <button type="button" class="list-group-item list-group-item-action need-to-add">Porta ac consectetur ac</button>
            <button type="button" class="list-group-item list-group-item-action need-to-add">Morbi leo risus</button>
            <button type="button" class="list-group-item list-group-item-action need-to-add">Porta ac consectetur ac</button>
            <button type="button" class="list-group-item list-group-item-action" disabled>Available Slot</button>
          </div>
        </div>
        <div class="card-footer" style="background:#33AFDE;text-align:center;">
          <button type="button">Ready to Submit
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card next-year">
        <div class="card-header">
          <h5><strong>Year 10</strong></h5>
          <p><small>0 Credit Earned</small></p>
        </div>
        <div class="card-body next-year">
          <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action" disabled>Available Slot</button>
            <button type="button" class="list-group-item list-group-item-action" disabled>Available Slot</button>
            <button type="button" class="list-group-item list-group-item-action" disabled>Available Slot</button>
            <button type="button" class="list-group-item list-group-item-action" disabled>Available Slot</button>
            <button type="button" class="list-group-item list-group-item-action" disabled>Available Slot</button>
            <button type="button" class="list-group-item list-group-item-action" disabled>Available Slot</button>
            <button type="button" class="list-group-item list-group-item-action" disabled>Available Slot</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card next-year">
        <div class="card-header">
          <h5><strong>Year 11</strong></h5>
          <p><small>0 Credit Earned</small></p>
        </div>
        <div class="card-body">
          <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action" disabled>Available Slot</button>
            <button type="button" class="list-group-item list-group-item-action" disabled>Available Slot</button>
            <button type="button" class="list-group-item list-group-item-action" disabled>Available Slot</button>
            <button type="button" class="list-group-item list-group-item-action" disabled>Available Slot</button>
            <button type="button" class="list-group-item list-group-item-action" disabled>Available Slot</button>
            <button type="button" class="list-group-item list-group-item-action" disabled>Available Slot</button>
            <button type="button" class="list-group-item list-group-item-action" disabled>Available Slot</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card next-year">
        <div class="card-header">
          <h5><strong>Year 12</strong></h5>
          <p><small>0 Credit Earned</small></p>
        </div>
        <div class="card-body">
          <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action" disabled>Available Slot</button>
            <button type="button" class="list-group-item list-group-item-action" disabled>Available Slot</button>
            <button type="button" class="list-group-item list-group-item-action" disabled>Available Slot</button>
            <button type="button" class="list-group-item list-group-item-action" disabled>Available Slot</button>
            <button type="button" class="list-group-item list-group-item-action" disabled>Available Slot</button>
            <button type="button" class="list-group-item list-group-item-action" disabled>Available Slot</button>
            <button type="button" class="list-group-item list-group-item-action" disabled>Available Slot</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
<!-- /.container -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>